// !Letter
.section__letter {
  padding: 96px 0;
  background: #111111;
}

.letter {
  &__title {
    @extend%title-fonts;
    text-align: center;
    color: #FFFFFF;
    line-height: 48px;
    position: relative;
    padding-bottom: 24px;
    margin-bottom: 24px;

    &::after {
      content: "";
      position: absolute;
      width: 189px;
      height: 1px;
      background-color: #fff;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: 0;
    }
  }

  &__subtitle {
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  &__form {
    padding-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    &-input {
      flex: 0 1 25%;
      padding: 10px;
      background-color: transparent;
      border: 1px solid #fff;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #FFFFFF;

      &::placeholder {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 48px;
        color: #FFFFFF;
      }
    }

    &-btn {
      background-color: transparent;
      cursor: pointer;
    }
  }
}